<a href="https://colab.research.google.com/github/sangithajk/Hackathon/blob/master/CreditFraudD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [191]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd

In [0]:
train = pd.read_csv("/content/drive/My Drive/credit_train.csv")

In [0]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split    
from sklearn.metrics import accuracy_score,classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot
%matplotlib inline

In [195]:
train.shape

(227845, 30)

In [196]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227845 entries, 0 to 227844
Data columns (total 30 columns):
V1        227845 non-null float64
V2        227845 non-null float64
V3        227845 non-null float64
V4        227845 non-null float64
V5        227845 non-null float64
V6        227845 non-null float64
V7        227845 non-null float64
V8        227845 non-null float64
V9        227845 non-null float64
V10       227845 non-null float64
V11       227845 non-null float64
V12       227845 non-null float64
V13       227845 non-null float64
V14       227845 non-null float64
V15       227845 non-null float64
V16       227845 non-null float64
V17       227845 non-null float64
V18       227845 non-null float64
V19       227845 non-null float64
V20       227845 non-null float64
V21       227845 non-null float64
V22       227845 non-null float64
V23       227845 non-null float64
V24       227845 non-null float64
V25       227845 non-null float64
V26       227845 non-null float64
V27       227845 non-null float64
V28       227845 non-null float64
Amount    227845 non-null float64
Class     227845 non-null object
dtypes: float64(29), object(1)
memory usage: 52.1+ MB

In [197]:
train.duplicated().sum()

6398

In [0]:
test = pd.read_csv("/content/drive/My Drive/credit_test.csv")

In [0]:
train["source"] = "train"
#test["source"] = "test"

In [200]:
df = pd.concat([train,test])
df = train

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [0]:
df.drop_duplicates(inplace=True)

In [202]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221447 entries, 0 to 227844
Data columns (total 31 columns):
V1        221447 non-null float64
V2        221447 non-null float64
V3        221447 non-null float64
V4        221447 non-null float64
V5        221447 non-null float64
V6        221447 non-null float64
V7        221447 non-null float64
V8        221447 non-null float64
V9        221447 non-null float64
V10       221447 non-null float64
V11       221447 non-null float64
V12       221447 non-null float64
V13       221447 non-null float64
V14       221447 non-null float64
V15       221447 non-null float64
V16       221447 non-null float64
V17       221447 non-null float64
V18       221447 non-null float64
V19       221447 non-null float64
V20       221447 non-null float64
V21       221447 non-null float64
V22       221447 non-null float64
V23       221447 non-null float64
V24       221447 non-null float64
V25       221447 non-null float64
V26       221447 non-null float64
V27       221447 non-null float64
V28       221447 non-null float64
Amount    221447 non-null float64
Class     221447 non-null object
source    221447 non-null object
dtypes: float64(29), object(2)
memory usage: 54.1+ MB

In [203]:
df.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10', 'V11',
       'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20', 'V21',
       'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount', 'Class',
       'source'],
      dtype='object')

In [204]:
df.Class.value_counts()

'0'    221070
'1'       377
Name: Class, dtype: int64

In [0]:
df_class0=df.loc[df['Class']== "'0'"]
df_class1=df.loc[df['Class']== "'1'"]

In [0]:
df_class0=df_class0.sample(n=377)

In [0]:
df_new = pd.concat([df_class0,df_class1])

In [208]:
df_new.Class.value_counts()

'0'    377
'1'    377
Name: Class, dtype: int64

In [0]:
df_new[['Class']] = df_new[['Class']].astype(str).replace("'1'","1")
df_new[['Class']] = df_new[['Class']].astype(str).replace("'0'","0")

In [210]:
df_new.Class.value_counts()

0    377
1    377
Name: Class, dtype: int64

In [211]:
df_new.tail()

               V1        V2         V3        V4  ...       V28  Amount  Class  source
225598  -4.991758  5.213340  -9.111326  8.431986  ... -0.882886    0.00      1   train
225851 -12.381048  8.213022 -16.962530  7.116091  ...  0.292721   97.00      1   train
226015  -3.896583  4.518355  -4.454027  5.547453  ...  0.501050    4.56      1   train
226034   0.196707  1.189757   0.704882  2.891388  ...  0.257315    0.76      1   train
226560   1.184891  3.152084  -6.134780  5.531252  ...  0.326552    0.00      1   train

[5 rows x 31 columns]

In [212]:
test[['Class']] = test[['Class']].astype(str).replace("'1'","1")
test[['Class']] = test[['Class']].astype(str).replace("'0'","0")
test.Class.value_counts()
#test.head(370)

0    56860
1      102
Name: Class, dtype: int64

In [213]:
df_new.head()

              V1        V2        V3        V4  ...       V28  Amount  Class  source
175848  1.506986 -0.784194  0.308471 -1.363078  ...  0.028569   25.00      0   train
52320   1.068379 -0.236857  0.545361  0.697808  ... -0.005388   19.99      0   train
161750 -0.457224  1.193276  0.956903  0.095705  ... -0.130691    9.99      0   train
172352  2.054124 -0.103209 -1.076953  0.427126  ... -0.060434    5.49      0   train
37035  -1.019540 -0.170834  2.627139  0.816135  ...  0.312655   38.82      0   train

[5 rows x 31 columns]

In [0]:
x_train = df_new.drop(['Class','source'],axis=1)
y_train = df_new['Class']

In [0]:
x_test = test.drop(['Class'],axis=1)
y_test = test['Class']

In [0]:
from sklearn.ensemble import  RandomForestClassifier
from sklearn import metrics
forest = RandomForestClassifier(n_jobs=-1,n_estimators=20, 
                                       min_samples_leaf=25, 
                                       max_features=0.3).fit(x_train, y_train)

In [0]:
err_df = pd.DataFrame(columns=['Algo','Test MAPE','Train MAPE'])

In [218]:
forest_train_predict = forest.predict(x_train)
forest_test_predict = forest.predict(x_test)
print(metrics.accuracy_score(y_test, forest_test_predict))
print(metrics.accuracy_score(y_train, forest_train_predict))
err_df.loc[1]=['Random forest',accuracy_score(y_test,forest_test_predict),accuracy_score(y_train,forest_train_predict)]

0.9800919911519961
0.9429708222811671

In [219]:
import xgboost as xgb
xgb_fit = xgb.XGBClassifier(max_depth=2, n_estimators=100, learning_rate=0.1).fit(x_train, y_train)
xgb_train_predict = xgb_fit.predict(x_train)
xgb_test_predict = xgb_fit.predict(x_test)
print("Xgb Accuracy train:",metrics.accuracy_score(y_train,xgb_train_predict))
print("Xgb Accuracy test:",metrics.accuracy_score(y_test,xgb_test_predict))
err_df.loc[2]=['XGB',metrics.accuracy_score(y_test,xgb_test_predict),metrics.accuracy_score(y_train,xgb_train_predict)]

Xgb Accuracy train: 0.9854111405835544
Xgb Accuracy test: 0.9677328745479442

In [220]:
from sklearn.linear_model import LogisticRegression
log_fit = LogisticRegression().fit(x_train,y_train)
log_train_predict = log_fit.predict(x_train)
log_test_predict = log_fit.predict(x_test)
print("log Accuracy train:",metrics.accuracy_score(y_train,log_train_predict))
print("log Accuracy test:",metrics.accuracy_score(y_test,log_test_predict))
err_df.loc[3]=['log',metrics.accuracy_score(y_test,log_test_predict),metrics.accuracy_score(y_train,log_train_predict)]

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

log Accuracy train: 0.9562334217506632
log Accuracy test: 0.960745760331449

In [181]:
from sklearn.model_selection import GridSearchCV
param_grid = [
{'n_estimators': [1,5,10,15,20,25,30], 'max_features': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. ], 
 'min_samples_leaf': [1, 3, 5, 10, 25], 'bootstrap': [True, False]}
]
forest = RandomForestClassifier(n_jobs=-1)
grid_search_forest = GridSearchCV(forest, param_grid, cv=10, scoring='neg_mean_squared_error')
grid_search_forest.fit(x_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=-1,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid=[{'bootstrap': [True, False],
                          'max_features': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7,
                                           0.8, 0.9, 1.0],
                          'min_samples_leaf': [1, 3, 5, 10, 25],
                          'n_estimators': [1, 5, 10, 15, 20, 25, 30]}],
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_squared_error', verbose=0)

In [222]:
grid_predict_train = grid_search_forest.predict(x_train)
grid_predict_test = grid_search_forest.predict(x_test)
print(metrics.accuracy_score(y_test, grid_predict_test))
print(metrics.accuracy_score(y_train, grid_predict_train))
err_df.loc[4]=['Grid search RF',accuracy_score(y_test,grid_predict_test),accuracy_score(y_train,grid_predict_train)]

0.9772655454513536
0.9482758620689655

In [223]:
# Scaling

from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
df_new = df_new.drop(['source'],axis=1)
df_new.head()

              V1        V2        V3  ...       V28  Amount  Class
175848  1.506986 -0.784194  0.308471  ...  0.028569   25.00      0
52320   1.068379 -0.236857  0.545361  ... -0.005388   19.99      0
161750 -0.457224  1.193276  0.956903  ... -0.130691    9.99      0
172352  2.054124 -0.103209 -1.076953  ... -0.060434    5.49      0
37035  -1.019540 -0.170834  2.627139  ...  0.312655   38.82      0

[5 rows x 30 columns]

In [0]:
x_train = df_new.drop(['Class'],axis=1)
y_train = df_new['Class']
x_train = pd.DataFrame(ss.fit_transform(x_train),columns = x_train.columns)

In [0]:
x_test = test.drop(['Class'],axis=1)
y_test = test['Class']
x_test = pd.DataFrame(ss.fit_transform(x_test),columns = x_test.columns)

In [226]:
forest_train_predict = forest.predict(x_train)
forest_test_predict = forest.predict(x_test)
print(metrics.accuracy_score(y_test, forest_test_predict))
print(metrics.accuracy_score(y_train, forest_train_predict))
err_df.loc[5]=['Random forest',accuracy_score(y_test,forest_test_predict),accuracy_score(y_train,forest_train_predict)]

0.9802851023489344
0.6021220159151194

In [227]:
import xgboost as xgb
xgb_fit = xgb.XGBClassifier(max_depth=2, n_estimators=100, learning_rate=0.1).fit(x_train, y_train)
xgb_train_predict = xgb_fit.predict(x_train)
xgb_test_predict = xgb_fit.predict(x_test)
print("Xgb Accuracy train:",metrics.accuracy_score(y_train,xgb_train_predict))
print("Xgb Accuracy test:",metrics.accuracy_score(y_test,xgb_test_predict))
err_df.loc[6]=['XGB',metrics.accuracy_score(y_test,xgb_test_predict),metrics.accuracy_score(y_train,xgb_train_predict)]

Xgb Accuracy train: 0.9854111405835544
Xgb Accuracy test: 0.18487763772339455

In [228]:
from sklearn.linear_model import LogisticRegression
log_fit = LogisticRegression().fit(x_train,y_train)
log_train_predict = log_fit.predict(x_train)
log_test_predict = log_fit.predict(x_test)
print("log Accuracy train:",metrics.accuracy_score(y_train,log_train_predict))
print("log Accuracy test:",metrics.accuracy_score(y_test,log_test_predict))
err_df.loc[7]=['log',metrics.accuracy_score(y_test,log_test_predict),metrics.accuracy_score(y_train,log_train_predict)]

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

log Accuracy train: 0.9562334217506632
log Accuracy test: 0.17023629788279906